/* app css stylesheet */
body {
  background-color: #004c93;
}
a {
  text-decoration: none;
}
.openbtn {
  cursor: pointer;
  border-radius: 50%;
  margin: 5px 0 0 5px;
  background-color: floralwhite;
  width: 50px;
  height: 50px;
}
/* The side navigation menu */
.sidenav {
  height: calc(100vh - 40px); /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(15, 15, 15); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  padding-bottom: 100px;
}

/* The navigation menu links */
.sidenav a,
.sidenav div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: rgba(212, 209, 209, 0.918);
  font-family: "Arial Black", Gadget, sans-serif;
  display: block;
  transition: 0.3s;
}
.sidenav div {
  cursor: pointer;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #fffafa;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3vmin;
  margin-left: 50px;
}

.page_title_and_timestamps {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.page-title {
  position: absolute;
  left: 4vw;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
}
.data_table {
  position: absolute;
  border-collapse: collapse;
}
.data_table tr,
.data_table th, .data_table td {
  border-color: white;
  border: 1px solid white;
}
.data_table th {
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 3px 2px;
  font-size: 10px;
  color: white;
}

.timestamp_label {
  position: absolute;
  right: 4vw;
  text-align: right;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
}
.timestamp {
  text-align: right;
  color: white;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 11px;
}
.value,
a .value {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: rgba(0, 255, 0, 0.651);
  font-weight: bold;
}

.sidenav--opened {
  width: 310px;
  height: 100vh;
}
@media screen and (max-width: 479px) {
  .closebtn_img {
    width: 30px;
    height: 30px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 20px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 22px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 22px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 22px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 18px;
  }
}
