/* app css stylesheet */
html {
  font-size: 10px;
}
body {
  background-color: #004c93;
}
.page_header {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.76);
}
.container{
  padding-top: 0 !important;
}
.page_footer {
  border-top: 1px solid rgba(255, 255, 255, 0.76);
  padding-top: 30px;
}
caption {
  text-align: center;
  color: #212529;
  border: 1px solid #f8f9fa;
}
.data_table__circle {
  display: inline-block;
  border: 1px solid;
  font-size: 1.5rem;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  text-align: center;
  line-height: 150%;
  background-color: #f8f9fa;
}
.data_row {
  display: flex;
  justify-content: center;
}
.data_item {
  display: flex;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  text-align: center;
  min-height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
th,
td,
tbody {
  background: transparent !important;
}
td,
th {
  color: white !important;
  font-size: 1.4rem;
  text-align: center;
}
a {
  text-decoration: none;
  color: lime;
}
.openbtn {
  cursor: pointer;
  border-radius: 50%;
  margin: 5px 0 0 5px;
  background-color: floralwhite;
  width: 50px;
  height: 50px;
}

.sidenav {
  height: calc(100vh - 40px); 
  width: 0; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(15, 15, 15); /* Black*/
  overflow-y: hidden; 
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  padding-bottom: 100px;
}


.sidenav a,
.sidenav div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: rgba(212, 209, 209, 0.918);
  font-family: "Arial Black", Gadget, sans-serif;
  display: block;
  transition: 0.3s;
}
.sidenav div {
  cursor: pointer;
}

.sidenav a:hover {
  color: #fffafa;
}


.sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3vmin;
  margin-left: 50px;
}

.page-title {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.8rem;
}

.timestamp_label {
  text-align: right;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 1.1rem;
}
.timestamp {
  text-align: right;
  color: white;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.1rem;
}
.value,
a .value {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: rgba(0, 255, 0, 0.651);
  font-weight: bold;
}

.sidenav--opened {
  width: 310px;
  height: 100vh;
}
@media screen and (max-width: 479px) {
  .closebtn_img {
    width: 30px;
    height: 30px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 20px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 22px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 22px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .closebtn_img {
    width: 40px;
    height: 40px;
  }
  .page-title {
    font-size: 22px;
  }
  .timestamp_label,
  .timestamp {
    font-size: 18px;
  }
  td {
    font-size: 1.6rem;
  }
  th {
    font-size: 1.8rem;
  }
}
