.coldbox_temp_value {
  position: absolute;
  color: white;
  font-size: 2rem;
}
.coldbox_temp {
  width: 450px;
  height: auto;
}
.coldbox_circuit {
  width: 900px;
  height: auto;
}
.coldbox_col_1,
.coldbox_col_2 {
  position: relative;
}
.tt205 {
  top: 630px;
  left: -100px;
}
.tt206 {
  top: 540px;
  left: -100px;
}
.tt207 {
  top: 450px;
  left: -100px;
}
.tt208 {
  top: 360px;
  left: -100px;
}
.tt209 {
  top: 270px;
  left: -100px;
}
.tt210 {
  top: 190px;
  left: -100px;
}
.tt211 {
  top: 100px;
  left: -100px;
}
.PT3170 {
  top: -2px;
  left: 400px;
}
.CV3160 {
  top: 65px;
  left: 250px;
}
.CV3170 {
  top: 65px;
  left: 635px;
}
.PT3500 {
  top: 100px;
  left: 420px;
}
.TT3500 {
  top: 170px;
  left: 400px;
}
.CV3500 {
  top: 250px;
  left: 288px;
}
.PT3510 {
  top: 400px;
  left: 35px;
}
.CV3510 {
  top: 390px;
  left: 290px;
}
.TT3510 {
  top: 315px;
  left: 400px;
}
