.page_header a {
  font-size: 1.4rem;
}

.data_item {
  width: 50%;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .page_header a {
    font-size: 1.8rem;
  }

  .data_item {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .page_header a {
    font-size: 2rem;
  }
}
