.cryostat_main {
    display: flex;
    justify-content: center;

}

.cryostat_container {
    position: relative;
    width: 340px;
    height: 75vh;
}

.cryostat_img_container {
    position: absolute;
    top: 70px;
    left: 100px;
    display: flex;
    justify-content: center;

}

.cryostat_img {
    width: 135px;
}

.data_table {
    min-width: 70px;
}

.data_table th {
    font-size: 8px;
}

.cryostat_inner_pressure {
    left: 2px;
    top: 20px;
}

.cryostat_inner_pressure_2 {
    left: 225px;
    top: 70px;
}

.cryostat_outer_pressure {
    left: 225px;
    top: 0;
}

.cryostat_beam_plug_lesker_vacuum_gauge {
    left: 225px;
    top: 260px;
}

.cryostat_pressure {
    top: 700px;
}

.cryostat_penetration_pipe1 {
    top: 0;
    left: 135px;
}

.cryostat_penetration_pipe2 {
    left: 135px;
    top: 325px;
}

.cryostat_penetration_pipe3 {
    top: 312px;
    left: 208px;
}

.cryostat_penetration_pipe4 {
    top: 225px;
    left: 25px;
}

.cryostat_cv {
    left: 150px;
    top: 200px;
}

.cryostat_gas {
    top: 600px;
    left: 200px;
}

.cryostat_ambient {
    top: 550px;
    left: 200px;
}

@media screen and (min-width: 480px) {
    .cryostat_img {
        width: 280px;
    }
}
