.gauge_container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.detector_img {
  width: 100%;
}
.gauges_img_wrapper {
  position: relative;
}
.gagues_link {
  position: absolute;
  font-size: 1rem;
  background-color: black;
  border-radius: 10%;
  padding: 0.5rem;
}
.bellegarde {
  left: 67%;
  top: 40%;
}
.saleve {
  left: 76%;
  top: 0;
}
.topSide {
  left: 46%;
  top: 25%;
}
.lausanne {
  top: 5%;
  left: 10%;
}
.jura {
  top: 50%;
  left: 15%;
}

@media screen and (min-width: 768px) {
    .gagues_link {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 992px) {
    .gagues_link {
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1200px) {
    .gagues_link {
        font-size: 1.6rem;
    }
}

