td, th, a .value {
  font-size: 1.4rem;
}
.histogram__buttons_caption{
  color: #fff;
  font-size: 22px;
}
.histogram__button.btn {
  padding: 5px 20px;
  margin-left: 5px;
  font-size: 14px;
}
.hidden {
  display: none;
}
.navbar__time_input_form {
  display: flex;
}
.histogram__range_input {
  padding: 1px;
  margin: 3px;
  min-width: 150px;
  font-size: 16px;
}
.navbar__range_input_form{
  display: flex;
  flex-wrap: wrap;
}
.navbar__range_input {
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
}
.navbar__range_input_end {
  display: flex;
}
.table_text {
  font-family: "Arial Black", Gadget, sans-serif;
  color: azure;
}
.table_text {
  font-size: 14px;
  line-height: 130%;
}


.charts_container {
  display: flex;
  flex-wrap: wrap;
}
.chart_container {
  width: 100%;
  height: 80vh;
}
.data_table {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.data_table__cell {
  border: 1px solid white;
  padding: 7px 10px;
  min-width: 220px;
}
@media screen and (min-width: 455px) {
  .data_table {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 501px) {

  .histogram__button.btn {
    padding: 4px 15px;
    min-width: 113px;
    margin-left: 5px;
  }
}
@media screen and (min-width: 768px) {
  .data_table {
    justify-content: center;
  }
 
  .table_text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px){
  .chart_container {
    width: 50%;
  }
}