.inside__img {
  width: 100%;
}

.inside__img_wrapper {
  position: relative;
}
.inside__link {
  position: absolute;
  font-size: 1rem;
  background-color: black;
  border-radius: 10%;
  padding: 0.5rem;
}
.inside__bellegarde {
  left: 67%;
  top: 40%;
}
.inside__saleve {
  left: 73%;
  top: 8%;
}
.inside__bottomSide {
  left: 46%;
  top: 92%;
}
.inside__lausanne {
  top: 10%;
  left: 15%;
}
.inside__jura {
  top: 45%;
  left: 18%;
}
caption span {
    color: #f8f9fa;
    font-size: 1.6rem;
    font-weight: bold;
  }
  

@media screen and (min-width: 768px) {
  .inside__link {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .inside__link {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .inside__link {
    font-size: 1.6rem;
  }
}
