.mpodpd_img{
    width: 100%;
}

@media screen and (min-width: 992px) {
    .mpodpd_img {
      width: 50%;
    }
  }
.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-color: white;
  --bs-accordion-btn-color: white;
}
