.pl506_img {
  width: 100%;
}
.pl506__table_header {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
}
td {
  font-size: 0.8rem;
}
th {
  font-size: 1rem;
}
@media screen and (min-width: 576px) {
  td {
    font-size: 1.3rem;
  }
  th {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .pl506_img {
    width: 50%;
  }
}
