.spbottom__img_wrapper {
  position: relative;
}
.spbottom__img {
  width: 100%;
}
.spbottom__img_caption {
  position: absolute;
  width: 10%;
  height: 5%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 10%;
}
.spbottom__TE0145 {
  left: 23%;
  top: 74%;
}
.spbottom__TE0146 {
  left: 43%;
  top: 74%;
}
.spbottom__TE0147 {
  left: 63%;
  top: 74%;
}
.spbottom__TE0148 {
  left: 23%;
  top: 20%;
}
.spbottom__TE0149 {
  left: 43%;
  top: 20%;
}
.spbottom__TE0150 {
  left: 63%;
  top: 20%;
}
.spbottom__TE0151 {
  left: 23%;
  top: 47%;
}
.spbottom__TE0152 {
  left: 43%;
  top: 47%;
}
.spbottom__TE0153 {
  left: 63%;
  top: 47%;
}
@media screen and (min-width: 576px) {
  .spbottom__img_caption {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .spbottom__img_caption {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 992px) {
  .spbottom__img_caption {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .spbottom__img_caption {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1400px) {
  .spbottom__img_caption {
    font-size: 1.6rem;
  }
}
