.spgradient__img {
  width: 100%;
}
.spgradient__img_wrapper {
  position: relative;
}
.spgradient__img_caption {
  position: absolute;
  width: 12%;
  height: 5%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10%;
}
.spgradient__TE0075 {
  left: 35%;
  top: 30%;
}
.spgradient__TE0079 {
  left: 73%;
  top: 30%;
}
.spgradient__TE0073 {
  left: 10%;
  top: 56%;
}
.spgradient__TE0077 {
  left: 60%;
  top: 56%;
}
.spgradient__TE0074 {
  left: 10%;
  top: 84%;
}
.spgradient__TE0076 {
  left: 35%;
  top: 84%;
}
.spgradient__TE0078 {
  left: 60%;
  top: 84%;
}
.spgradient__TE0080 {
  left: 73%;
  top: 84%;
}
@media screen and (min-width: 576px) {
  .spgradient__img_caption {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .spgradient__img_caption {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1400px) {
  .spgradient__img_caption {
    font-size: 1.6rem;
  }
}
