.splevel2__img {
  width: 100%;
}
.splevel2__img_wrapper {
  position: relative;
}

.splevel2__img_caption {
  position: absolute;
  width: 5%;
  height: 3%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  font-weight: bold;
  border-radius: 10%;
}
.splevel2__TE0097 {
  left: 87%;
  top: 90%;
}
.splevel2__TE0098 {
  left: 84%;
  top: 86%;
}
.splevel2__TE0099 {
  left: 82%;
  top: 34%;
}
.splevel2__TE0100 {
  left: 80%;
  top: 30%;
}
.splevel2__TE0101 {
  left: 78%;
  top: 26%;
}
.splevel2__TE0102 {
  left: 76%;
  top: 22%;
}

@media screen and (min-width: 576px) {
  .splevel2__img_caption {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
    .splevel2__img_caption {
      font-size: 0.9rem;
    }
}
@media screen and (min-width: 1200px) {
  .splevel2__img_caption {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1400px) {
  .splevel2__img_caption {
    font-size: 1.6rem;
  }
}
