.tinternal__img_wrapper {
  position: relative;
}
.tinternal__img {
  width: 100%;
}
.btn-outline-dark {
  color: white;
}
.tinternal__links {
  border-bottom: 1px solid white;
}
.tinternal__links .btn {
  margin: 1px;
  min-width: 105px;
  font-size: 1rem;
}
.tinternal__img_caption {
  position: absolute;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  font-weight: bold;
  border-radius: 8%;
}
.tinternal__img_caption a,
.tinternal__img_caption span {
  color: black;
  padding: 1px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1px 3px;
}
.tinternal__img_caption a {
    background-color: black;
    color: white;
}
.tinternal__img_caption a:hover {
  color: wheat;
}
.tinternal__img__twall {
  left: 28%;
  top: 30%;
}
.tinternal__img__tliqlevel {
  left: 28%;
  top: 23%;
}
.tinternal__img__spgradient {
  left: 41%;
  top: 10%;
}
.tinternal__img__spbottom {
  left: 6%;
  top: 91%;
}
.tinternal__img__floor {
  left: 44%;
  top: 78%;
}
.tinternal__img__pipes {
  left: 54%;
  top: 78%;
}
.tinternal__img__hawaii {
  left: 18%;
  top: 42%;
}
.tinternal__img__ifictop {
  top: 25%;
  left: 71%;
}
.tinternal__img__ificmiddle {
  top: 35%;
  left: 71%;
}
.tinternal__img__ificbottom {
  top: 65%;
  left: 71%;
}
.data_body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.data_row {
  display: flex;
  min-width: 220px;
  justify-content: center;
}
.data_header {
  color: white;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  text-align: center;
}
.data_item {
  display: flex;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  text-align: center;
  min-height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
@media screen and (min-width: 576px) {
  .tinternal__links .btn {
    font-size: 1.2rem;
  }
  .tinternal__img_caption {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .tinternal__links .btn {
    font-size: 1.3rem;
  }
  .tinternal__img_caption {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .tinternal__links .btn {
    font-size: 1.4rem;
  }
  .tinternal__img_caption {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .tinternal__links .btn {
    font-size: 1.5rem;
  }
  .tinternal__img_caption {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .tinternal__links .btn {
    font-size: 1.6rem;
  }
}
