<link rel="stylesheet" href="css/histogram.css" />
<nav class="navbar">
  <div class="navbar__text">History For</div>
  <div class="navbar__buttons">
    <ul>
      <li><span ng-click="$ctrl.dayChanger('0-1')">1 hour</span></li>
      <li><span ng-click="$ctrl.dayChanger('0-6')">6 hours</span></li>
      <li><span ng-click="$ctrl.dayChanger('0-12')">12 hours</span></li>
      <li><span ng-click="$ctrl.dayChanger('1-0')">1 day</span></li>
      <li><span ng-click="$ctrl.dayChanger('3-0')">3 days</span></li>
      <li><span ng-click="$ctrl.dayChanger('7-0')">7 days</span></li>
      <li><span ng-click="$ctrl.dayChanger('10-0')">10 days</span></li>
    </ul>
  </div>
  <div class="navbar__ranges">
    <div class="navbar__time_input">
      <form action="" class="navbar__time_input_form">
        <input type="number" min="1" ng-model="$ctrl.dd" placeholder="Days" />
        <button
        type="submit"
          class="button-12 button-12--small"
          ng-click="$ctrl.setDays()"
        >
          Go
        </button>
      </form>
    </div>
    <div class="navbar__range_input">
      <form action="" class="navbar__range_input_form">
        <input
          type="date"
          ng-model="$ctrl.start"
          placeholder="dd-mm-yyyy"
        />
        <div class="navbar__range_input_end">
          <input
            type="date"
            ng-model="$ctrl.end"
            placeholder="dd-mm-yyyy"
          />
          <button type="submit" class="button-12 button-12--small" ng-click="$ctrl.range($ctrl.start, $ctrl.end)" >Go</button>
        </div>
      </form>

     
    </div>
  </div>
</nav>

<div id="container" class="histogram_container">Placeholder for chart</div>
<div class="histogram_bottom_buttons">
  <button
    class="button-12"
    title="Click to show/hide data"
    type="button"
    ng-click="$ctrl.toggleDataTable()"
  >
    Show/Hide Data
  </button>
</div>