<link rel="stylesheet" href="css/top.css" />
<header class="container page_header">
  <div class="row">
    <div class="col page-title">{{$ctrl.pageTitle}}</div>
    <div class="col timestamp_label">
      <div class="row">
        <div class="col">Timestamp</div>
      </div>
      <div class="row">
        <div class="col">
          <span id="timestamp" class="timestamp"
            >{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <div class="row justify-content-center pt-4">
    <div class="col-12 col-sm-9">
      <img class="top_img" src="img/top.png" alt="top" />
    </div>
    <div class="col-12 col-sm-3">
      <table class="table table-sm table-bordered caption-top">
        <tbody>
          <tr>
            <td>DS_MDL_01</td>
            <td>
              <span ng-if="$ctrl.DS_MDL_01!=='N/A'" class="value"
                >{{ $ctrl.DS_MDL_01 | number: 2 }} &#956;m/m</span
              >
              <span ng-if="$ctrl.DS_MDL_01==='N/A'" class="value">N/A</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<footer class="container page_footer">
  <div class="row justify-content-end">
    <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3">
      <table class="table table-sm table-bordered">
        <tbody>
          <tr>
            <td>Humidity</td>
            <td>
              <a target="_blank" href="#!/histogram/47878785489690">
                <span class="value"
                  >{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span
                >
              </a>
            </td>
          </tr>
          <tr>
            <td>Ambient temperature</td>
            <td>
              <a target="_blank" href="#!/histogram/47878802266906">
                <span class="value"
                  >{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span
                >
              </a>
            </td>
          </tr>
          <tr>
            <td>Ambient pressure</td>
            <td>
              <a target="_blank" href="#!/histogram/47878819044122">
                <span class="value"
                  >{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span
                >
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</footer>
